html, body {
    max-width: 100vw !important;
    overflow-x: hidden !important;
}

@media screen and (max-width: 1439px) and (min-width: 1301px) {
    nav{
        height: 100px;
    }
    .hero-section-heading{
        font-size: 56px;
    }
    .hero-section-para{
        font-size: 20px;
    }
    .container{
        max-width: 85vw !important;
    }
    .contact-us-card{
        width: 35%;
    }
    .contact-us-extra{
        width: 50%;
    }
}

@media screen and (max-width: 1300px) {
    nav {
        background: white !important;
        backdrop-filter: blur(0);
        width: 100vw;
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        border-radius: 0;
        text-align: center;
        z-index: 100;
        top: -2px;
        padding: 0;
    }
    nav > ul {
        display: none;
    }

    #nav-logo {
        position: absolute;
        top: 10px;
        left: 12px;
        transform: none;
        border-radius: calc(var(--base-border-radius) * 8);
        padding: 6px 20px;
        height: auto;
        margin-top: 0;
        border: 1px solid rgba(255,255,255,0);
        transition: all .5s !important;
    }
    #nav-logo img {
        width: 120px;
    }

    .nav-scrolled {
        position: fixed;
        margin-top: 0;
        width: 100vw;
        height: 0;
    }

    nav.active #nav-logo,
    .nav-scrolled #nav-logo {
        background: var(--primary-color-dark);
        border-color: rgba(255,255,255,.2);
    }

    .toggle-nav {
        display: flex;
        justify-content: start;
        align-items: end;
        flex-direction: column;
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 100;
        cursor: pointer;
        background: transparent;
        height: 53px;
        width: 53px;
        border-radius: calc(var(--base-border-radius) * 5);
        border: 1px solid rgba(255,255,255,0);
        transition: all .5s !important;
    }

    nav.active .toggle-nav,
    .nav-scrolled .toggle-nav {
        background: var(--primary-color-dark);
        border-color: rgba(255,255,255,.2);
    }

    nav.active .toggle-nav .line{
        transform: rotate(45deg) translate(8px, 5px);
        width: 30px !important;
    }

    nav.active .toggle-nav .line.line-2{
        transform: rotate(-45deg) translate(1px, 3px);
        opacity: .7;
        width: 30px !important;
    }

    nav.active .toggle-nav .line.line-3{
        opacity: 0;
        width: 0 !important;
    }

    .nav-scrolled .toggle-nav img {
        width: 34px;
    }

    nav.active {
        height: 100vh;
        backdrop-filter: none;
        top: -2px;
    }

    nav.active > ul {
        display: flex;
        flex-direction: column;
    }

    nav.active > ul > li > a {
        color: var(--primary-color-dark);
    }

    nav.active .social-media-list {
        margin-top: 3rem;
        background: var(--primary-color-dark-07);
        display: flex;
        flex-direction: row;
        border-radius: calc(var(--base-border-radius) * 3);
    }
}



@media screen and (min-width: 1025px) and (max-width: 1270px) {
    .partner-card img {
        width: 80%;
    }
}


@media screen and (min-width: 1025px) {
    .contact-us-main {
        margin-inline: auto;
    }

    .contact-us-extra {
        width: 60%;
    }
}


@media screen and (max-width: 1024px) and (min-width: 769px) {
    .features-card-container {
        width: 90vw;
        margin-inline: auto;
    }

    .features-card {
        width: 25vw;
    }

    .features-extra {
        width: 90vw;
        margin-inline: auto !important;
    }

    .features-extra .features-extra-content {
        width: 40vw;
    }

    .features-extra .img-container {
        width: 50vw;
    }

    .features-extra.extra--2 .img-container {
        width: 40vw;
    }

    .features-extra.extra--2 button {
        margin-left: 1rem;
    }

    .partners-card-container {
        width: 90vw;
        margin-inline: auto;
    }

    .partner-card img {
        width: 90%;
    }

    .pricing-card {
        margin-bottom: 2rem;
    }

    .contact-us-main {
        margin-inline: auto;
    }

    .contact-us-extra {
        width: 50vw;
        margin-inline: auto;
        text-align: center;
    }

    .contact-us-detail-card p {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .footer-section {
        padding: 4rem;
    }


}


@media screen and (max-width: 768px) {
    .hero-section .hero-section-heading {
        font-size: 3rem !important;
        width: 80vw;
    }

    .hero-section .hero-section-para {
        width: 80vw;
    }

    .video-player-container img {
        max-width: 90vw;
        height: auto;
    }

    .flex-row {
        flex-direction: column;
    }

    .features-extra-heading {
        font-size: 2rem !important;
    }

    .features-card-container .features-card {
        min-width: 90vw;
    }

    .features-extra {
        width: 80vw;
        margin-inline: auto !important;
    }

    .features-extra-content {
        width: 100%;
        text-align: center;
    }

    .features-extra-content input {
        margin-bottom: 1.5rem;
    }

    .d-small-none {
        display: none;
    }

    .partners-card-container {
        margin-inline: 0;
    }

    .partner-card {
        width: 90vw;
        margin-inline: auto;
        margin-bottom: 1rem;
    }

    .testimonial-card-content {
        width: 80vw;
    }

    .pricing-cards-container {
        margin-inline: 0;
    }

    .pricing-card {
        margin-bottom: 1rem;
        width: 90vw;
    }

    .contact-us-main {
        display: flex;
        flex-direction: column-reverse;
        margin-inline: 0;
    }

    .contact-us-card {
        width: 90vw;
        margin-inline: auto;
    }

    .contact-us-extra {
        width: 90vw;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .contact-us-details-container {
        flex-direction: column;
    }

    .contact-us-detail-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 80vw !important;
        margin-inline: auto;
        margin-bottom: 1rem;
    }

    .contact-us-social-media-container {
        width: 80vw;
        margin-inline: auto;
        margin-bottom: 2rem;
    }

    .contact-us-detail-card img {
        margin-block: auto;
        margin-right: 1rem;
    }

    .contact-us-detail-card p {
        text-align: left !important;
    }

    .footer-section {
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-section > div {
        width: 90vw;
        margin-inline: auto;
        margin-bottom: 4rem;
    }

    .footer-contact {
        width: 80vw !important;
        margin-inline: auto !important;
    }

}

